*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    font-family: 'Lato', sans-serif;
}

 body{
    background: linear-gradient(to right, #a8c0ff, #3f2b96); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: 'Fira Sans', sans-serif;
 }

 #title{
     width: 100%;
     background: linear-gradient(to right, #4e54c8, #8f94fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 #shiftplan-title{
    text-align: center;
    text-shadow: 2px 2px 2px black;
 }

 ::selection{
    background-color: transparent;
 }

 #currentMonth{
    color: aqua;
    text-shadow: 2px 2px 2px black;
 }

 .operators-grid-container, .summaryLeftPanel{
    display: grid;
    float: left;
 }

.tableCorner{
    background-color: lightskyblue;
    text-align: center;
}

 div{
    border: 1px solid #667db6;
 }

 .mainGrid{
    display: grid;
    text-align: center;
    box-shadow: 1px 1px 50px black;
 }

 div > div:hover{
    cursor: pointer;
    background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: white;
    opacity: 0.5;
 }

 .operators-grid-container > div {
    padding: 0 5px 0 5px;
 }

 .controlPanel {
    border-top: 2px solid black;
    background: linear-gradient(to bottom, #4e54c8, #8f94fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
 }

 .controlPanel > button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 4px 5px black;
    font-weight: bold;
 }

 #dayshift, #nightshift {
    background: linear-gradient(to right, #e0eafc, #cfdef3);
 }

 #vacation, #freeshift {
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: #696969;
 }

 #paragraf {
    background: linear-gradient(to right, #bc4e9c, #f80759);
 }
 
 .summaryGridContainer{
   margin-top: 10vh;
   display: grid;
   text-align: center;
   box-shadow: 0px 1px 10px black;
 }

 .summaryLeftPanel{
    margin-top: 10vh;
    float: left;
    box-shadow: 0px 1px 10px black;
 }

.summaryLeftPanel > div {
    height: 30px;
    font-size: 0.9em;
}

 .dayShiftSummary {
    background-color: #9494b8;
    text-shadow: none;
    color: black;
 }

 .nightShiftSummary {
    background-color: #3d3d5c;
    color: white;
    text-shadow: 1px 1px 5px black;
 }

 .summaryLeftPanel > div {
    padding: 0 5px 0 5px;
    font-weight: bold;
 }

.summaryLeftPanel, .summaryGridContainer {
    text-shadow: none;
}

.summaryCellStyleNightshift, .summaryCellStyleDayshift {
    color: wheat;
    text-shadow: 1px 2px 5px black;
}

.sumGrid {
    height: 30px;
    font-size: 13px;
    max-height: 38px;
    max-width: 70px;
    width: 58.4px;
}

#remove { 
   float: right;
   width: 20vw;
}

#reset {
   background-color: #fc3d3d;
   color: white;
   text-shadow: 1px 2px 2px black;
}