*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: white;
 }
 
 h1{
    font-family: 'Lato', sans-serif;
 }
 
 body{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden;
 }
 
 #title{
     display: none;
     background: linear-gradient(to right, #4e54c8, #8f94fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 
#title-container{
   text-align: center;
   border: none;
}

#shiftplan-title{
   color: white;
}

 #shiftplan-title, #currentMonth{
    display: inline;
    text-shadow: 2px 2px 2px black;
    font-size: 2.102vw;
 }
 
 ::selection{
    background-color: rebeccapurple;
 }
 
 #currentMonth{
    color: aqua;
 }
 
 .operators-grid-container, .summaryLeftPanel{
    display: grid;
    float: left;
    border: none;
 }
 
 .tableCorner{
    background-color: lightskyblue;
    text-align: center;
 }
 
 div{
    border: 1px solid black;
    font-size: 0.8vw;
 }
 
 .mainGrid{
    display: grid;
    text-align: center;
    box-shadow: 1px 1px 50px black;
    border: none;
 }
 
 .mainGrid > div, .operators-grid-container > div, .summaryLeftPanel {
   font-size: 0.75vw;
}

 .mainGrid > div:hover, .operators-grid-container > div:hover {
    cursor: pointer;
    border: 1px solid lightcoral;
 }
 
 .operators-grid-container > div {
    padding: 0 5px 0 5px;
 }
 
footer {
   display: none;
}

 .controlPanel {
    border-top: 0.1vw solid black;
    padding: 0.5vw;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
 }
 
 .controlPanel > button {
    top: 50% ;
    left: 50%;
    padding: 0.5vw;
    border-radius: 0.4em;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8vw;
    box-shadow: 0.1vw 0.1vw 0.3vw black;
 }
 
 #dayshift, #nightshift {
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    color:#0f0c29;
    text-shadow: 1px 2px 5px grey;
 }
 
 #vacation, #freeshift {
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: #696969;
 }
 
 #shiftleader {
   color: black;
   text-shadow: 1px 2px 5px grey;
   background: linear-gradient(320deg, rgba(252,208,61,1) 0%, rgba(255,231,0,1) 100%);
   margin: 0 0 0 3vw;
 }
 
 #paragraf {
    color: #0f0c29;
    background: linear-gradient(to right, #bc4e9c, #f80759);
    text-shadow: 1px 2px 5px grey;
 }

#in-office, #mobile, #shiftplan-button{
    display: none;
    color: black;
}

#mobile-work {
   background-color: lightgreen;
}

#mobile {
    background-color: lightgreen;
}

 .summaryGridContainer{
   display: grid;
   text-align: center;
   position: relative;
   border: none;
 }

 .summaryLeftPanel > div {
    height: 1.8vw;
    font-size: 0.6vw;
    padding: 0 4px 0 4px;
 }
 
 .sumGrid {
    height: 1.8vw;
    font-size: 0.6vw;
    width: 3.1vw;
 }
 
#shortcut{
    color: #ff9933;
    text-shadow: 1px 1px 1px black;
}

 .dayShiftSummary {
    background-color: #9494b8;
    text-shadow: none;
    color: black;
 }

 .nightShiftSummary {
    background-color: #3d3d5c;
    color: white;
    text-shadow: 1px 1px 5px black;
 }
 
 #mobile-work, #shiftplan-button { 
   float: right;
   width: 20vw;
   color: #0f0c29;
 }
 
#remove {
   color: black;
}

#save {
   background-color: aquamarine;
   color: black;
}

#save:hover {
   background-color: black;
   color: aquamarine;
   transition: 200ms;
}

 #reset {
   background-color: #fc3d3d;
   color: white;
   text-shadow: 1px 2px 2px black;
 }
 
#reset:hover {
   background-color: black;
   color: #fc3d3d;
   transition: 200ms;
}

 .tooltip{
   border: none;
 }
 
 .summaryContainer {
    width: 100vw;
    margin-top: 2vw;
    box-shadow: 0px 5px 50px black;
    border: none;
 }